<h1>I am here</h1>
<%= @motorcycle.name%>

<%= link_to "Remove", "/motorcycles/1", data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %> 